@charset "utf-8";
/* CSS Document */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body{
	width:100%;
	background-color:#4a90c1;
	padding-top:15px;
}

#wrap_all{
	width:1280px;
	margin:0 auto;
	}
header{
	background:url(../images/bk_01.jpg) no-repeat 0 0 #4a90c1;
	min-height:660px;
	width:1280px;
	margin:0 auto;
	border-radius: 10px 10px 0 0;        /* CSS3草案 */  
    -webkit-border-radius: 20px 20px 0 0;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 20px 20px 0 0;   /* Firefox用 */
	}
#logo_head{
	padding-top:160px;
	margin:0 auto;
	width:509px;
			}	
#form_head{
	padding-top:214px;
	left:50%;
	margin-left:-252px;
	position:relative;
}
#name{
	color:#FFF;
	font-size:1.5em;
	font-weight:700;
	}
#text_name_head{
	width:420px;
	height:29px;
}
#mail{
	color:#FFF;
	font-size:1.5em;
	font-weight:700;
	position:absolute;
	width:100px;
	top:45px;	
	left:8px;
	}
#comment{
	color:#FFF;
	font-size:1.0em;
	font-weight:100;
	position:absolute;
	top:135px;	
	left:15px;
	width:500px;

}
#orei{
	color:#FFF;
	font-size:2.5em;
	text-align:center;
	padding-top:10px;

}
#text_mail_head{
	width:420px;
	height:29px;
	position:absolute;
	left:76px;
	top:-5px;
	}

#submit_head{
	position:absolute;
	top:85px;
	left:10px;
	}

#form_foot{
	margin:0 auto;
	width:500px;
	}

#contents{
	width:1280px;
	position:relative;

}
#contents_what{
	background:url(../images/bk_02.jpg) no-repeat 0 0;
	min-height:658px;
	}
#contents_kankyou{
	background:url(../images/bk_03.jpg) no-repeat 0 0;
	min-height:658px;
	}
#contents_mokuhyou{
	background:url(../images/bk_04.jpg) no-repeat 0 0;
	min-height:658px;
	border-radius: 0 0 20px 20px;        /* CSS3草案 */  
    -webkit-border-radius: 0 0 20px 20px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0 0 20px 20px;   /* Firefox用 */
	}


.title{
	color:#FFF;
	font-size:3.0em;
	}
#title_what{
	height:80px;
	background-color:#76c1be;
	text-align:center;
	padding-top:35px;

}
#title_kankyou{
	height:80px;
	background-color:#deaf49;
	text-align:center;
	padding-top:35px;

}
#title_mokuhyou{
	height:80px;
	background-color:#eaa2df;
	text-align:center;
	padding-top:35px;

}

#contents_what dd{
	margin-top:160px;
	padding-left:100px;
	
}
#contents_what ul{
	padding-top:15px;}

#contents_what li{
	padding-left:15px;}

#contents_kankyou dd{
	text-align:right;
	padding-top:60px;
	padding-right:50px;}

#contents_mokuhyou dd{
	text-align:left;
	padding-top:50px;
	padding-left:60px;
	}



.tx{
	color:#eee;
	font-size:1.9em;
	font-weight:700;
	line-height:1.7em;
	-webkit-text-shadow: 0 0 10px #777; /* Safari, Chrome用 */
    -moz-text-shadow: 0 0 6px #777; /* Firefox用 */
    text-shadow: 0 0 6px #777; /* CSS3 */
}
.tx_s{
	color:#CCC;
	font-size:0.7em;
	line-height:1.9em;}
.tx_2{
	color:#eee;
	font-size:1.5em;
	font-weight:700;
	line-height:1.4em;
	-webkit-text-shadow: 0 0 10px #444; /* Safari, Chrome用 */
    -moz-text-shadow: 0 0 6px #444; /* Firefox用 */
    text-shadow: 0 0 6px #444; /* CSS3 */
	}
footer{
	height:720px;
	background-color:#4a90c1;
	}
#logo_foot{
	padding:190px 0 20px 387px;
	
	}
